@using DataAccessLayer
@{
    Layout layout = new Layout();
    ViewData["Title"] = "AddEdit";
}
<div class="main-container1">

    <div class="formLayout">
        <h1>Add Student</h1>
        <form class="form">
            <div class="inputs">
                <label for="firstName">@layout.FirstNameLabel <span>@layout.stars</span></label>
                <div>
                    <input type="text" maxlength="50" name="firstName" id="firstName" placeholder="Please enter First Name">
                    <label class="fname-err error"></label>
                </div>
            </div>
            <div class="inputs">
                <label for="lastName">@layout.LastNameLabel <span>@layout.stars</span></label>
                <div class="col-sm-9">
                    <input type="text" maxlength="50" name="lastName" id="lastName" placeholder="Please enter Last Name">
                    <label class="lname-err error"></label>
                </div>
            </div>
            <div class="inputs">
                <label for="gender">@layout.GenderLabel <span>@layout.stars</span></label>
                <div>
                    <select class="selectGender" aria-label="Default select example" name="gender" id="gender">
                        <option value="2" selected>Select Gender</option>
                        <option value="0">Male</option>
                        <option value="1">Female</option>
                    </select>
                    <label class="gender-err error"></label>
                </div>
            </div>
            <div class="input-group">
                <div class="input-group-1">
                    <label for="dateOfBirth" class="dob-label">@layout.DateOfBirthLabel <span>@layout.stars</span></label>
                    <div class="dob">
                        <input type="date" class="date-of-birth" name="dateOfBirth" id="dateOfBirth" min="1923-01-01" max="2023-09-06">
                        <label class="dob-err error"></label>
                    </div>
                </div>
                <div class="input-group-2">
                    <label for="age">@layout.AgeLabel <span>@layout.stars</span></label>
                    <div>
                        <div>
                            <input type="text" maxlength="2" class="age" name="age" id="age">
                            <span>years</span>
                        </div>
                        <label class="age-err error"></label>
                    </div>
                </div>
            </div>
            <div class="inputs">
                <label for="class">@layout.ClassLabel</label>
                <div class="col-sm-4 px-1 ms-2">
                    <input type="text" maxlength="50" name="class" id="class" placeholder="Please enter class">

                </div>
            </div>
            <div class="inputs">
                <label for="address">@layout.AddressLabel</label>
                <div>
                    <textarea name="address" maxlength="100" id="address" class="address" rows="3" placeholder="Please enter address"></textarea>
                </div>
            </div>

            <div class="button-group">
                <div class="btn-1">
                    <button id="deleteBtn" class="hide">Delete</button>
                </div>
                <div class="btn-2">
                    <button id="saveBtn" >Save</button>
                    <a asp-controller="Home" asp-action="StudentDetailForm" class="btn btn-secondary ">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts{
     <script src="~/js/AddEditForm.js" asp-append-version="true"></script>
}



 